.bullet-list {
    list-style-type: disc;
    padding-left: 20px;
    margin-left: 10px;
}

.bullet-list li {
    margin-bottom: 10px;
    font-weight: 500;
}

h3 {
    margin-bottom: 1em;
}

h4 {
    background-color: #f0f0f0;
    padding: 10px;
}

h5 {
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
}

button {
    background-color: #2c97f4;
}