.services a {
    text-decoration: none;
}

.services li {
    margin: 0.3em;
}

.services {

    background: rgba(187, 229, 243, 0.096);
    padding-top: 5px;
    padding-bottom: 5px;
}

.service-item {
    position: relative;

    color: white;
    background: #4d84bc;
    border-radius: 8px;
    margin-bottom: 7px;
    padding: 5px;
    overflow: hidden;
    z-index: 1;

}

.service-item::before {

    position: absolute;
    bottom: -5px;
    right: 0;
    width: 0;
    height: 15px;
    background: rgb(52, 52, 52);
    transition: width 1s ease;
    z-index: -1;
    border-top-left-radius: 35px;

}

.service-item:hover::before {
    width: 95%;
}